*{
    margin: 0;
    padding: 0;
}
#contenedor{
    width: 800px;
    height: 2000px;
    background-color: rgba(73, 78, 83, 0.808);
    margin: 5px;
    padding: 20px;
}
#emcabezado{
    width: 70%;
    background-color: rgba(199, 203, 207, 0.459);
    margin: 1em;
    border-radius: 5px;
    text-align: center;
}
#menu{
    height: 55px;
    background-color: rgba(199, 203, 207, 0.459);
    margin: 1em;
    border-radius: 5px;
 }
 /*selector de etiqueta para el menu*/
ul{
    text-align: center;
    padding: 10px;
}
li{
    display: inline;
    padding: 10px 30px;
    margin: 3em;
}
li a:hover{
    color: crimson;
    text-decoration: none;
    font-size: 25px;
    list-style: none;
}