*{
    margin: 0;
    padding: 0;
 }
 .card{
    box-shadow: 0 4px 8px black;
    overflow: hidden;
    max-width: 300px;
    max-height: 400px;
    margin: auto;
    text-align: center;
    border: 2px solid;
    border-radius: 8px;

}
.card:hover{
    max-width: 300px;
    text-align: center;

}
.protest-guerrilla-regular {
    font-family: "Protest Guerrilla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
  }
  #contenedor{
    width: 60%;
    height: 100%;
    background-color: rgba(48, 113, 177, 0.808);
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
}
#menu{
    height: 60px;
    width: 65%;
    background-color: rgba(199, 203, 207, 0.459);
    margin: 1em;
    border-radius: 5px;
}